body {background-color:black;font-family:arial;color:white}

h1{color:rgb(121, 121, 121);font-family:verdana;font-size: 32px; text-align: left}

.maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    position: absolute;
    left: 50px;
    font-weight: 600;
}

footer {
    text-align: left;
}